.projectCard:hover {
    box-shadow: 6px 6px 12px 0 rgba(105, 41, 202, 0.489);
    text-decoration-color: #665866;
}

.cardimage:hover {
    filter:opacity(75%);
}

.bg-salt-box {
    background-color: #665866;
}

.bg-bossanova {
    background-color: #443D45;
}

.bg-purple-500 {
    background-color: #170322;
}

.bg-lilac {
    background-color: #d8cce7;
}

.modalClose {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .modalClose:hover,
  .modalClose:focus {
    color: #665866;
    text-decoration: none;
    cursor: pointer;
  }

  .click {
    margin: auto;
  }

  .btn-modal {
    background-color: #d8cce7;
    border-radius: 8px;
    padding: 1vw 2vw;
    text-decoration-color: black;
    font-size:1.2vw;
  }

  .btn-modal:hover {
    background-color: #665866;
    border-radius: 8px;
    padding: 1vw 2vw;
    color: #d8cce7;
    font-size:1.2vw;
  }



  .col-header {
    padding-top:10%;
    padding-bottom:8vw;
  }

  .btn-dark {
    background-color: #170322;
    border-radius: 8px;
    padding: 1vw 2vw;
    color: #d8cce7;
    font-size:1.2vw;
    
  }

  .btn-dark:hover {
    background-color: #665866;
    border-radius: 8px;
    padding: 1vw 2vw;
    color: #d8cce7;
    font-size:1.2vw;
  }

  .col-about {
    padding-top:5%;
    padding-bottom:5%;
  }

  .icon {
    color:#d8cce7;
    font-size: 2.5em;
  }

  .icon:hover {
    color: #665866;
  }


