.card:hover {
    box-shadow: 6px 6px 12px 0 rgba(105, 41, 202, 0.489);
}

.cardimage:hover {
    filter:opacity(75%);
}

.bg-purple-400 {
    background-color: rgba(105, 41, 202, 0.489);
}

.bg-purple-500 {
    background-color: rgba(16, 7, 31, 0.874);
}
