.card:hover {
    box-shadow: 6px 6px 12px 0 rgba(105, 41, 202, 0.489);
    text-decoration-color: #665866;
}

.cardimage:hover {
    filter:opacity(75%);
}

.bg-salt-box {
    background-color: #665866;
}

.bg-bossanova {
    background-color: #443D45;
}

.bg-purple-500 {
    background-color: #170322;
}

.bg-lilac {
    background-color: #d8cce7;
}

.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #665866;
    text-decoration: none;
    cursor: pointer;
  }

  .click {
    margin: auto;
  }

  .btn-modal {
    background-color: #d8cce7;
    border-radius: 8px;
    padding: 14px 40px;
    text-decoration-color: black;
    
  }

  .btn-modal:hover {
    background-color: #665866;
    border-radius: 8px;
    padding: 14px 40px;
    color: #d8cce7;
    
  }